// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
//@import '~nativescript-theme-core/scss/skins/light/index';
//@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.info {
  font-size: 20;
  margin: 4;
}

.size16 {
  font-size: 16;
  margin: 2;
}

.clear-btn {
  background-color: white;
  padding: 5px;
}

.blue {
  color: #6a78c5;
}

.gray {
  color: #666;
}

.white {
  color: #fff;
}

.avatar-circle {
  font-size: 35;
  height: 50;
  width: 50;
  color: #fff;
  background-color: #ff4081;
  border-radius: 25;
  margin-left: 16;
  margin-top: 5;
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
}

.blackCard {
  background-color: #333;
  color: white;
}

.blueCard {
  background-color: #3489db;
  color: white;
}

.jokerCard {
  background-color: yellow;
}

.whiteCard {
  background-color: #fff;
}



.border-bottom {
  border-bottom-width: 1;
  border-bottom-color: white;
  margin-bottom: 40;
  padding-bottom: 8;
}

.form-input {
  color: white;
  font-size: 20px;
  placeholder-color: rgb(118, 194, 156);
  border-bottom-color: transparent;
  border-bottom-width: 1;
  
}

.icon-margin {
  margin-right: 10;
}

.my-button {
  background-color: #4BD5DC;
  color: white;
  font-weight: bold;
  border-radius: 25;
  padding-top: 14;
  padding-bottom: 14;
  text-transform: uppercase;
  letter-spacing: 0.1;
  margin-bottom: 20;
  margin-top: 10;
}

.auth-buttons {
  color: white;
  font-size: 14;
}

.full-height {
  height: 100%;
}

.logo-container {
  width: 150;
  margin-bottom: 60;
}

.container {
  margin-left: 34;
  margin-right: 34;
}
.container1 {
 background-color: aquamarine;
}